/*物联网*/
.l-h-32{line-height: 32px;}
.pt40{padding-top: 40px;}.mt40{margin-top: 40px;}
/*边框*/
.border-left-width{border-left-width:3px;}
.border-left-solid{border-left-style:solid;}
.border-bottom-width{border-bottom-width:2px;}
.border-bottom-solid{border-bottom-style:solid;}
.border-b-solid{border-bottom:1px solid #ebebeb;}
.border-t-solid{border-top:1px solid #ebebeb;}
.border-radius-0{ border-radius:0px!important;}
.border-solid{border:1px solid #ebebeb;}

.tabmenu .list { width: 80%; overflow: hidden; }
.tabmenu .list li { height: auto; line-height: inherit; cursor: pointer; float: left; margin-right: 48px; padding: 0 1px; font-size: 14px;border-bottom:3px solid transparent;}
.tabmenu .list li a { display: block; border: none; font-weight: normal;text-decoration:none;  }
.choose-mes{background: #fff;padding:10px 0 0px;}
.choose-mes .tabmenu{border-bottom:1px solid #ddd;height: 32px;padding-left:10px; background-color: #fff;}
.choose-mes .tabmenu .list{width:65%;}
.choose-mes .tabmenu .list li{padding: 0 15px;margin:0 5px;height: 32px;}


.pos_rel{position: relative;width:16px;height: 16px; display: inline-block;}
.pos_abs{position: absolute; right: -233px; top: 16px;}

.c-sending{color: #3986AC;}


.index .tabwrap {margin:20px 0 0;}
.index .tabmenu,.tabwrap .tabmenu { height: 30px; line-height: 30px; position: relative; font-size: 14px; background: none; border: none;}
.tabmenu .title { font-size: 18px; /*color:$color-master;*/ float: left; margin-right: 42px; }
.tabmenu .list { width: 80%; overflow: hidden; }
.tabmenu .list li { height: auto; line-height: inherit; cursor: pointer; float: left; margin-right: 48px; padding: 0 1px; font-size: 14px;border-bottom:3px solid transparent;}
.tabmenu .list li a { display: block; border: none; font-weight: normal;text-decoration:none;  }


.wulian .tabcontent {position: relative;margin:20px 0 0 0;}
.wulian .list li{padding: 0 15px;margin:0 5px;height: 40px;}
.wulian .tabmenu{border-bottom:1px solid #ddd; margin-bottom:10px;height: 40px;padding-left:10px;}
