<!-- coding start on 2017/3/10  coder:liuqixing-->
<div>
    <div class="main-header">您当前的位置：服务中心 > 账号绑定</div>
    <div class="account-header">
        <span class="card-number">服务热线：400-696-6677</span>
    </div>
    <div ng-show="bindAccount">
        <form>
            <div class="account-alert-info">
                相关信息请登录【联通物联网卡管理中心（Jasper）】查询：
                <a class="account-alert-link" href="https://chinaunicom.jasperwireless.com/provision/jsp/login.jsp" target="_blank">点我前往</a>
                我们将严格对你的账号进行保密，请放心使用。
            </div>
            <div class="clearfix m-b-20">
                <h2 class="account-current">请正确填写下列信息</h2>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label"><i class="account-valid">*</i>企业用户名：</label>
                    <div class="col-sm-9">
                        <input type="text" required class="main-input w-400" id="username" name="username" placeholder="" data-ng-model="account.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label"><i class="account-valid">*</i>账户密码：</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" class="main-input w-400" id="password" placeholder="" data-ng-model="account.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="licenseKey" class="col-sm-2 control-label"><i class="account-valid">*</i>企业LicenseKEY：</label>
                    <div class="col-sm-9">
                        <input type="text" class="main-input w-400" id="licenseKey" name="licenseKey" placeholder="" data-ng-model="account.licenseKey" required>
                        去这里查：
                        <a class="account-alert-link" href="https://chinaunicom.jasperwireless.com/provision/secure/apidoc/" target="_blank">点我前往</a>
                        <a class="account-alert-link" ng-mouseenter="show = true" ng-mouseleave="show = false" href="javascript:;">在哪看？</a>
                        <img class="account-img" ng-show="show" src="images/wulianwang/link.png">
                    </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="callUrl" class="col-sm-2 control-label"><i class="account-valid">*</i>API server：</label>
                    <div class="col-sm-9">
                        <input type="text" name="callUrl" class="main-input w-400" id="callUrl" placeholder="" data-ng-model="account.apiUrl" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="account-remark" class="col-sm-2 control-label">备注说明：</label>
                    <div class="col-sm-9">
                        <input type="text" name="remark" class="main-input" id="account-remark" placeholder="如：电梯警报、智能水表、车载系统等" data-ng-model="account.remark">
                    </div>
                </div>
            </div>
            <div class="account-confirm">
                <a  class="main-btn-more" data-ng-click="submitAccount()">提交绑定</a>
            </div>
        </form>
    </div>


    <!--已经绑定账号后页面-->
    <!--<div class="bindSucceedPageContainer" ng-show="accountInfo">-->
        <!--<div class="bindSucceedTit">-->
            <!--<span class="succeedIcon glyphicon glyphicon-ok"></span>-->
            <!--<span class="succeedTooltip">当前企业账户已绑定Jasper企业账户</span>-->
        <!--</div>-->
        <!--<ul>-->
            <!--<li class="firmInfo">Jasper企业账户信息：</li>-->
            <!--<li><span>企业用户名：</span><span data-ng-bind="account.username"></span></li>-->
            <!--<li><span>License KEY：</span><span data-ng-bind="account.licenseKey"></span></li>-->
            <!--<li><span>API server：</span><span data-ng-bind="account.apiUrl"></span></li>-->
            <!--<li><span>备注说明：</span><span data-ng-bind="account.remark"></span></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="account-success" ng-show="accountInfo">
        <div class="account-success-title">
            <span class="glyphicon glyphicon-ok account-success-icon"></span>
            <span class="account-success-desc">当前企业账户已绑定Jasper企业账户！</span>
        </div>
        <ul class="account-info">
            <li><span>企业用户名：</span><span data-ng-bind="account.username"></span></li>
            <li><span>License KEY：</span><span data-ng-bind="account.licenseKey"></span></li>
            <li><span>API server：</span><span data-ng-bind="account.apiUrl"></span></li>
            <li><span>备注说明：</span><span data-ng-bind="account.remark"></span></li>
        </ul>
    </div>
</div>