<!--批量导入-->
<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title text-center" ng-bind="title"></h4>
        </div>
        <div class="modal-body">
                <span class="BulkImport-tit" ng-bind="importTitle"></span>
                <div class="bulkImport-input">
                    <form id="fileImport" enctype="multipart/form-data">
                        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file"/>
                    </form>
                </div>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="main-btn-less" ng-click="cancel()">取消</button>
            <button type="button" class="main-btn-more" ng-click="submit()">提交</button>
        </div>
    </div>
</div>
