<!-- coding start on 2017/3/14  coder:liuqixing-->
<div class="main-header">您当前的位置：服务中心 > 物联卡管理 > 物联卡详情</div>
<div class="checkDetail-header">
    <a class="checkDetail-back" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <span class="card-number">服务热线：400-696-6677</span>
</div>
<div class="checkDetail-container">
    <div class="checkDetail-info1">
        <ul>
            <li>运营商账户ID：</li>
        </ul>
        <ul>
            <li ng-bind="acctManagementSystemId"></li>
        </ul>
    </div>
    <div class="checkDetail-info2">
        <ul>
            <li>ICCID：</li>
            <li>MSISDN：</li>
            <li>主IMSI：</li>
            <li>IMEI：</li>
        </ul>
        <ul>
            <li ng-bind="iccId"></li>
            <li ng-bind="msiSdn"></li>
            <li ng-bind="imsi1"></li>
            <li ng-bind="imei"></li>
        </ul>
    </div>
    <div class="checkDetail-info3">
        <ul>
            <li>SIM卡状态：</li>
            <li>已激活：</li>
            <li>在线：</li>
        </ul>
        <ul>
            <li ng-bind="status"></li>
            <li ng-bind="activeDate">{{activeDate | date:'yyyy-MM-dd hh:mm:ss'}}</li>
            <li ng-bind="online"></li>
        </ul>
    </div>
    <div class="checkDetail-info4">
        <ul>
            <li>地理位置：</li>
            <li>经纬度：</li>
        </ul>
        <ul>
            <li ng-bind="address"></li>
            <li ng-bind="longitude"></li>
        </ul>
    </div>
</div>
