<div class="main-header">您当前的位置：服务中心 > 物联卡 > 地图找卡</div>
<div>
    <div>
        <div class="main-btn-select" style="width: 90px;">
            <select ng-model="selectedId">
                <option value="ICCID">ICCID</option>
                <option value="MSISDN">MSISDN</option>
            </select>
        </div>
        <input type="text" class="main-input w-200 m-l-5 m-r-5" ng-model="searchId" placeholder="输入ICCID或MSISDN">
        <span>
            <span>地理位置：</span>
            <div class="main-btn-select card-change-select">
                <select ng-model="selectedProvince" ng-options="item.cityId as item.name for item in regionData">
                    <option value="">选择省</option>
                </select>
            </div>
            <div class="main-btn-select card-change-select">
                <select ng-model="selectedCity" ng-options="item.cityId as item.name for item in citys">
                    <option value="">选择市</option>
                </select>
            </div>
            <div class="main-btn-select card-change-select">
                <select ng-model="selectedDstrict" ng-options="item.cityId as item.name for item in districts">
                    <option value="">选择区</option>
                </select>
            </div>
        </span>
        <a class="main-btn-more" ng-click="search()">搜索</a>
        <span class="card-find-operate">
            <a class="main-btn-more" ng-click="active()"><span class="glyphicon glyphicon-off p-r-5"></span>激活</a>
            <a class="main-btn-normal m-l-10" ng-click="stop()"><span class="glyphicon glyphicon-ban-circle p-r-5"></span>停用</a>
        </span>
    </div>
    <div class="m-t-10">
        <div class="card-find-wrap">
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th width="30px"><input type="checkbox" id="selectAll" ng-model="selectAll" ng-checked="checkedState" ng-change="changeAll(items)"></th>
                    <th width="220px">详情</th>
                    <th width="100px">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="items in cardFindData" ng-click="changeCurrents(items,$event)">
                    <td><input type="checkbox" ng-model="items.checked" ng-click="changeCurrent(items,$event)"></td>
                    <td>ICCID：{{items.iccId}}</br>MSISDN：{{items.msiSdn}}</br>卡号说明：{{items.remark}}</br>卡状态：{{items.status}}</td>
                    <td>
                        <span uib-dropdown on-toggle="toggled(open)">
                         <a class="main-btn-less" uib-dropdown-toggle><span class="glyphicon glyphicon-chevron-down"></span>下拉操作</a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="min-width: 110px">
                                <li role="menuitem"><a href="javascript:;" ng-click="listDetail(items)">查看详情</a></li>
                                <li role="menuitem"><a href="javascript:;" ng-click="listManage(items)">手机号管理</a></li>
                                <li role="menuItem"><a href="javascript:;" ng-click="listOperate(items)">激活/停用</a></li>
                                <li role="menuitem"><a href="javascript:;" ng-click="listChange(items)">修改</a></li>
                                <li role="menuitem"><a href="javascript:;" ng-click="listMessage(items)">上行短信</a></li>
                            </ul>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div  class="pagination card-find-page">
                <pagination uib-pagination class="pagination-sm pull-right"
                            items-per-page="perPage"
                            ng-model="currentPage"
                            total-items="totalItems"
                            max-size="maxSize"
                            ng-change="pageChanged()"
                            boundary-links="true"
                            boundary-link-numbers="true"
                            rotate="true"
                            force-ellipses="true"
                            previous-text='上一页'
                            next-text="下一页"
                            first-text="首页"
                            last-text="末页">
                </pagination>
            </div>
        </div>
        <div id="map"></div>
        <div id="card-info-panel">
            <ul class="card-find-panel">
                <li role="menuitem"><a href="" ng-click="detail()">查看详情</a></li>
                <li role="menuitem"><a href="" ng-click="manage()">手机号管理</a></li>
                <li role="menuItem"><a href="" ng-click="operate()">激活/停用</a></li>
                <li role="menuitem"><a href="" ng-click="change()">修改</a></li>
                <li role="menuitem"><a href="" ng-click="message()">上行短信</a></li>
            </ul>
        </div>
    </div>

</div>

