<div class="main-header">您当前的位置：服务中心 > 物联卡管理</div>
<div>
    <div class="main-operate">
        <div class="card-update">
            <a class="main-btn-more" ng-click="infoUpdate()">信息同步</a>
            <span class="card-word">同步jasper平台企业名下所有物联网卡基本信息</span>
            <a class="main-btn-more w-100" ng-click="tempBind()"><span class="glyphicon glyphicon-plus p-r-5"></span>批量绑定</a>
            <span class="card-link" ng-click="downloadTemp()">下载模板</span>
            <a class="main-btn-normal" ng-click="dataImport()">导出数据</a>
            <span class="card-number">服务热线：400-696-6677</span>
        </div>
        <div class="card-search">
            <div class="main-btn-select">
                <select ng-model="selectedId">
                    <option value="ICCID">ICCID</option>
                    <option value="MSISDN">MSISDN</option>
                </select>
            </div>
            <input type="text" class="main-input w-150" ng-model="searchId" placeholder="输入ICCID或MSISDN">
            <span>卡号说明:</span>
            <input type="text" class="main-input" ng-model="searchRemark" placeholder="输入卡号说明">
            <span>上行关键字:</span>
            <input type="text" class="main-input" ng-model="searchKey" placeholder="输入上行关键字">
            <span>组名:</span>
            <div class="main-btn-select">
                <select ng-model="selectedGroup" ng-options="items.name for items in groupInfo">
                    <option value="">全部</option>
                </select>
            </div>
            <a class="main-btn-more w-60" ng-click="search()">搜索</a>
            <a class="main-btn-more m-l-20" ng-click="active()"><span class="glyphicon glyphicon-off p-r-5"></span>激活</a>
            <a class="main-btn-normal m-l-20" ng-click="stop()"><span class="glyphicon glyphicon-ban-circle p-r-5"></span>停用</a>
        </div>
    </div>
    <div class="main-table">
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th width="50px"><input type="checkbox" id="selectAll" ng-model="selectAll" ng-checked="checkedState" ng-change="changeAll(items)"></th>
                <th width="50px">编号</th>
                <th width="180px">ICCID</th>
                <th width="140px">MSISDN</th>
                <th width="100px">卡号说明</th>
                <th width="190px">资费计划（套餐）</th>
                <th width="100px">绑定手机数</th>
                <th width="100px">上行关建字</th>
                <th width="70px">分组</th>
                <th width="130px">添加日期</th>
                <th width="80px">卡状态</th>
                <th width="130px">激活日期</th>
                <th width="350px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in reportData" ng-click="changeCurrents(items,$event)">
                <td><input type="checkbox" ng-model="items.checked" ng-click="changeCurrent(items,$event)"></td>
                <td>{{$index+1}}</td>
                <td ng-bind="items.iccId"></td>
                <td ng-bind="items.msiSdn"></td>
                <td ng-bind="items.remark"></td>
                <td ng-bind="items.packageName"></td>
                <td ng-bind="items.phoneNum"></td>
                <td ng-bind="items.keyWord"></td>
                <td ng-bind="items.groupName"></td>
                <td>{{ items.addDate | date:'yyyy.MM.dd hh:mm'}}</td>
                <td ng-bind="items.status"></td>
                <td>{{items.activeDate | date:'yyyy.MM.dd hh:mm'}}</td>
                <td>
                    <a class="main-btn-less" ng-click="detail(items)"><span class="glyphicon glyphicon-list-alt p-r-5"></span>查看详情</a>
                    <a class="main-btn-less w-100" ng-click="phone(items)"><span class="glyphicon glyphicon-phone p-r-5"></span>手机号管理</a>
                    <a class="main-btn-less w-60" ng-click="change(items)"><span class="glyphicon glyphicon-pencil p-r-5"></span>修改</a>
                    <a class="main-btn-less" ng-click="message(items)"><span class="glyphicon glyphicon-envelope p-r-5"></span>上行短信</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div  class="pagination page-position">
        <pagination uib-pagination class="pagination-sm pull-right"
                    items-per-page="perPage"
                    ng-model="currentPage"
                    total-items="totalItems"
                    max-size="maxSize"
                    ng-change="pageChanged()"
                    boundary-links="true"
                    boundary-link-numbers="true"
                    rotate="true"
                    force-ellipses="true"
                    previous-text='上一页'
                    next-text="下一页"
                    first-text="首页"
                    last-text="末页">
        </pagination>
    </div>
</div>
