<div class="main-header">您当前的位置：服务中心 > 账单查询</div>
<div>
    <div class="main-operate">
        <span class="check-update">
            <a class="main-btn-more" ng-click="infoUpdate()">信息同步</a>
            <span>同步jasper平台企业名下账单信息</span>
        </span>
        <a class="main-btn-normal check-import" ng-click="dataImport()">导出数据</a>
        <div class="check-search">
            <span>计费周期：</span>
            <div class="main-btn-select">
                <select  ng-model="cycle" ng-options="items.cycle for items in data">
                    <option value=""> --全部-- </option>
                </select>
            </div>
            <a class="main-btn-more" ng-click="search()">搜索</a>
        </div>
    </div>
    <div class="check-table">
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th width="100px">账单ID</th>
                <th width="150px">计费周期</th>
                <th width="100px">账户ID</th>
                <th width="200px">账户名</th>
                <th width="120px">运营商账户ID</th>
                <th width="100px">设备</th>
                <th width="100px">总费用</th>
                <th width="100px">流量（MB）</th>
                <th width="120px">短信总量（条）</th>
                <th width="100px">是否计费</th>
                <th width="100px">账单日期</th>
                <th width="100px">账户分类</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in data">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  class="pagination">
        <pagination uib-pagination class="pagination-sm pull-right"
                    items-per-page="perPage"
                    ng-model="currentPage"
                    total-items="totalItems"
                    max-size="maxSize"
                    ng-change="pageChanged()"
                    boundary-links="true"
                    boundary-link-numbers="true"
                    rotate="true"
                    force-ellipses="true"
                    previous-text='上一页'
                    next-text="下一页"
                    first-text="首页"
                    last-text="末页">
        </pagination>
    </div>
</div>
