<div>
    <div class="modal-header">
        <h4 class="modal-title text-center">提示</h4>
    </div>
    <div class="modal-body">
        <div class="confirm-body" ng-bind="confirm"></div>
    </div>
    <div class="modal-footer text-center">
        <button class="main-btn-less btn-margin-left" type="button" ng-click="cancel()">取消</button>
        <button class="main-btn-more" type="button" ng-click="ok()">确定</button>
    </div>
</div>