<div ng-controller="cardChangeController">
    <div class="modal-header card-change-header">
        <h4 class="modal-title card-change-title">修改物联网卡</h4>

    </div>
    <div class="modal-body">
        <div class="card-change-desc">当前物联网卡ICCID号：{{iccid}}</div>
        <form role="form" name="myForm" novalidate>
            <div class="card-change-space">
                <span class="card-change-label">卡号说明：</span><input type="text" name="cardDesc" id="remark" class="main-input card-change-input" ng-maxlength="10" placeholder="不超过10个字符">
            </div>
            <div class="card-change-space">
                <span class="card-change-label">上行关键字：</span><input type="text" name="remark" id="cardKey" class="main-input card-change-input" ng-maxlength="10" placeholder="不超过10个字符">
            </div>
            <div class="card-change-space">
                <span class="card-change-label">所属分组：</span>
                <div class="main-btn-select w-120">
                    <select ng-model="selectedGroup" ng-options="items.name for items in groupInfo">
                        <option value="">选择分组</option>
                    </select>
                </div>
                <a class="main-btn-less card-change-btn" ng-click="newGroup()">新建</a>
                <a class="main-btn-less card-change-btn" ng-click="manageGroup()">管理</a>
            </div>
            <div class="card-change-space">
                <span class="card-change-label">地理位置：</span>
                <div class="main-btn-select card-change-select">
                    <select ng-model="selectedProvince" ng-options="item.cityId as item.name for item in regionData">
                        <option value="">选择省</option>
                    </select>
                </div>
                <div class="main-btn-select card-change-select">
                    <select ng-model="selectedCity" ng-options="item.cityId as item.name for item in citys">
                        <option value="">选择市</option>
                    </select>
                </div>
                <div class="main-btn-select card-change-select">
                    <select ng-model="selectedDstrict" ng-options="item.cityId as item.name for item in districts">
                        <option value="">选择区</option>
                    </select>
                </div>
            </div>
            <div class="card-change-space">
                <input type="text" id="address" class="main-input card-address-input" placeholder="请输入详细地址">
            </div>
            <div class="card-change-tips">
                <span>提示：系统将根据您输入的详细地址自动获取经纬度；如获取失败，请手动在地图上选择位置获取经纬度。</span>
            </div>
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            <div id="card-change-map"></div>
        </form>
    </div>
    <div class="modal-footer card-change-footer">
        <button class="main-btn-less" type="button" ng-click="cancel()">取消</button>
        <button class="main-btn-more" type="button" ng-click="ok()">确定</button>
    </div>
</div>