<div class="main-header">您当前的位置：服务中心 > 错误数据</div>
<uib-tabset>
    <uib-tab index="1" heading="物联网卡错误数据" ng-click="tabCard()">
        <div class="main-table">
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th width="10%">编号</th>
                    <th width="25%">时间</th>
                    <th width="25%">文件名</th>
                    <th width="25%">错误数据</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="items in cardErrorData">
                    <td>{{$index+1}}</td>
                    <td>{{items.creatTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td ng-bind="items.fileName"></td>
                    <td ng-bind="items.errCount"></td>
                    <td>
                        <a class="main-btn-less" ng-click="downloadCard(items)">下载</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div  class="pagination page-position">
            <pagination uib-pagination class="pagination-sm pull-right"
                        items-per-page="perPage"
                        ng-model="currentPage"
                        total-items="totalItems"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        boundary-links="true"
                        boundary-link-numbers="true"
                        rotate="true"
                        force-ellipses="true"
                        previous-text='上一页'
                        next-text="下一页"
                        first-text="首页"
                        last-text="末页">
            </pagination>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="手机管理错误数据" ng-click="tabPhone()">
        <div class="main-table">
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th width="10%">编号</th>
                    <th width="25%">时间</th>
                    <th width="25%">文件名</th>
                    <th width="25%">错误数据</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="items in phoneErrorData">
                    <td>{{$index+1}}</td>
                    <td>{{items.creatTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td ng-bind="items.fileName"></td>
                    <td ng-bind="items.errCount"></td>
                    <td>
                        <a class="main-btn-less" ng-click="downloadPhone(items)">下载</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div  class="pagination page-position">
            <pagination uib-pagination class="pagination-sm pull-right"
                        items-per-page="perPageOther"
                        ng-model="currentPageOther"
                        total-items="totalItemsOther"
                        max-size="maxSizeOther"
                        ng-change="pageChangedOther()"
                        boundary-links="true"
                        boundary-link-numbers="true"
                        rotate="true"
                        force-ellipses="true"
                        previous-text='上一页'
                        next-text="下一页"
                        first-text="首页"
                        last-text="末页">
            </pagination>
        </div>
    </uib-tab>
</uib-tabset>