<div>
    <div class="modal-content" ng-controller="groupManageController">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span
                    aria-hidden="true">×</span></button>
            <h4 class="modal-title text-center">物联网卡分组管理</h4>
        </div>
        <div class="modal-body">
            <div class="padding-10">
                <table class="table text-center table-striped table-hover" >
                    <thead>
                    <tr>
                        <th class="text-center">分组名</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="items in groups">
                    <tr>
                        <td>
                            <p ng-bind="items.name"></p>
                        </td>
                        <td>
                            <button type="button" class="main-btn-less" ng-click="modify(items)">
                                修改
                            </button>
                            <button type="button" class="main-btn-less" ng-click="delete(items)">
                                删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="main-btn-less" ng-click="cancel()">关闭</button>
        </div>
    </div>
</div>