<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span
                    aria-hidden="true">×</span></button>
            <h4 class="modal-title text-center" ng-bind="title"></h4>
        </div>
        <div class="modal-body">
            <div class="padding-10">
                <textarea class="form-control " name="" id="groupName" cols="30" rows="5"
                          placeholder=" 请输入分组名称。" ng-model="groupName" ng-bind="groupItemName"></textarea>
            </div>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="main-btn-less" style="margin-left: 30px;" ng-click="cancel()">取消</button>
            <button type="button" class="main-btn-more" ng-click="submit()">提交</button>
        </div>
    </div>
</div>