<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span
                    aria-hidden="true">×</span></button>
            <h4 class="modal-title text-center" ng-bind="title"></h4>
        </div>
        <div class="modal-body">
            <p class="CT-tit">
                通讯方式
                <input type="radio" name="voice" id="phoneManage-mss" ng-click="tab1()" checked>
                <label for="phoneManage-mss">短信</label>
                <!--<input type="radio" name="voice"  id="phoneManage-voc" ng-click="tab2()">-->
                <!--<label for="phoneManage-voc">语音</label>-->
            </p>
            <div class="mssForm" ng-show="tabOne">
                <form name="myForm">
                    <p>
                        <span><i class="asterisk">*</i>手机号：</span>
                        <input type="text" class="main-input CT-mss-tel CT-input-clear" ng-model="conTel" ng-value="itemsConTel">
                    </p>
                    <p>
                        <span><i class="asterisk">*</i>机主姓名：</span>
                        <input type="text" class="main-input CT-mss-name CT-input-clear" ng-model="conName" ng-value="itemsConName">
                    </p>
                </form>
            </div>
            <!--语音功能-->
            <!--<div class="telForm" ng-show="tabTwo">-->
                <!--<div>-->
                    <!--<p><span><i class="asterisk">*</i>手机号：</span><input type="text" class="main-input CT-mss-tel CT-input-clear"  ng-model="conTel" ng-value="itemsConTel"></p>-->
                    <!--<p><span><i class="asterisk">*</i>机主姓名：</span><input type="text" class="main-input CT-mss-name CT-input-clear" ng-model="conName" ng-value="itemsConName"></p>-->
                    <!--<p><span><i class="asterisk">*</i>身份证：</span><input type="text" class="main-input CT-mss-ID CT-input-clear" ng-model="conID" ng-value="itemsConID"></p>-->
                    <!--<div class="card-change-space mobile-change-space">-->
                        <!--<span class="card-change-label mobile-change-label"><i class="asterisk">*</i>家庭地址：</span>-->
                        <!--<div class="main-btn-select card-change-select">-->
                            <!--<select ng-model="selectedProvince" ng-options="item.cityId as item.name for item in regionData">-->
                                <!--<option value="" class="choiceProvince">选择省</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="main-btn-select card-change-select">-->
                            <!--<select ng-model="selectedCity" ng-options="item.cityId as item.name for item in citys">-->
                                <!--<option value="" class="choiceCity">选择市</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="main-btn-select card-change-select">-->
                            <!--<select ng-model="selectedDstrict" ng-options="item.cityId as item.name for item in districts">-->
                                <!--<option value="" class="choiceDstrict">选择区</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<p><input type="text"class="main-input" ng-model="address"></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="main-btn-less" ng-click="cancel()">取消</button>
            <button type="button" class="main-btn-more" ng-click="submit()">提交</button>
        </div>
    </div>
</div>