<div class="main-header">您当前的位置：服务中心 > 物联卡管理 > 手机号管理</div>
<div class="checkDetail-header">
    <a class="checkDetail-back" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <span class="card-number">服务热线：400-696-6677</span>
</div>
<div class="phoneNumber-mangement-container">
    <!--<div class="phoneNumber-main-top">-->
        <!--<div class="p-m-t-l">-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<button class="main-btn-more" ng-click="newAdd()">+新增</button>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<button class="main-btn-more" ng-click="bulkImport()">+批量导入</button>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span class="decoration_underlin" ng-click="downloadTemp()">下载模板</span>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--通讯方式：-->
                    <!--<div class="main-btn-select">-->
                        <!--<select ng-model="selectedId">-->
                            <!--<option value="message">短信</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--手机号：<span><input type="text" class="main-input"  ng-model="mobile" placeholder="输入手机号"></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--机主姓名：<span><input type="text" class="main-input" ng-model="name" placeholder="输入机主姓名" ></span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<button type="button" class="main-btn-more" ng-click="search()">搜索</button>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="p-m-t-r">-->
            <!--<a  class="main-btn-normal" ng-click="export()">导出数据</a>-->
            <!--<a  class="main-btn-normal" ng-click="deleteAll()">删除</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="phone-content">
        <span>查询方式：</span>
        <div class="main-btn-select w-100">
            <select ng-model="queryMode" class="w-100">
                <option value="phone">手机号</option>
                <option value="name">机主姓名</option>
            </select>
        </div>
        </span><input type="text" class="main-input w-160" ng-model="queryValue" placeholder="手机号/机主姓名">
        <a class="main-btn-more w-60" ng-click="search()">搜索</a>
        <span class="m-l-100">
            <a class="main-btn-more w-60" ng-click="newAdd()"><span class="glyphicon glyphicon-plus p-r-5"></span>新增</a>
            <a class="main-btn-more w-100" ng-click="bulkImport()"><span class="glyphicon glyphicon-plus p-r-5"></span>批量导入</a>
            <span class="phone-download" ng-click="downloadTemp()">下载模板</span>
        </span>
        <a  class="main-btn-normal phone-import" ng-click="export()">导出数据</a>
    </div>
    <div class="main-table">
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th width="50px"><input type="checkbox" id="selectAll"   ng-model="selectAll"  ng-change="changeAll(items)" ></th>
                <th width="50px">编号</th>
                <th width="70px">通讯方式</th>
                <th width="100px">手机号</th>
                <th width="100px">机主姓名</th>
                <th width="140px">操作</th>
            </tr>
            </thead>
            <tbody>
             <tr ng-repeat="items in phoneData" ng-click="changeCurrents(items, $event)">
                <td><input type="checkbox" ng-model="items.checked" ng-click="changeCurrent(items, $event)" ></td>
                <td ng-bind="$index+1"></td>
                <td>短信</td>
                <td ng-bind="items.phone"></td>
                <td ng-bind="items.username"></td>
                <td>
                    <a class="main-btn-less"  ng-click="zdTableEdit(items, $event)">修改</a>
                    <a class="main-btn-less" ng-click="zdTableRemove(items)">删除</a>
                </td>
            </tr> 
            </tbody>
        </table>
        <!--分页-->
        <div  class="pagination page-position">
            <pagination uib-pagination class="pagination-sm pull-right"
                        items-per-page="perPage"
                        ng-model="currentPage"
                        total-items="phoneTotalItems"
                        max-size="maxSize"
                        ng-change="pageChanged()"
                        boundary-links="true"
                        boundary-link-numbers="true"
                        rotate="true"
                        force-ellipses="true"
                        previous-text='上一页'
                        next-text="下一页"
                        first-text="首页"
                        last-text="末页">
            </pagination>
        </div>
    </div>
</div>


