<div>
    <div class="modal-header card-change-header">
        <h4 class="modal-title card-change-title">规则管理新增</h4>
    </div>
    <div class="modal-body">
        <p class="message-rule-title">定义规则</p>
        <div class="message-rule-content">
            <div>
                <span class="message-rule-table">选择规则类别</span>
                <span class="message-rule-table">选择触发器</span>
            </div>
            <div>
                <span class="message-rule-table c-primary">用量监控<span class="glyphicon glyphicon-ok c-success p-l-10"></span></span>
                <span class="message-rule-table c-primary">收到短信-MO<span class="glyphicon glyphicon-ok c-success p-l-10"></span></span>
            </div>
            <div class="message-rule-operate">
                <span class="c-gray-lighter message-rule-font">当发生此情况时...</span>
                <div>
                    <span>如果Control Center 收到简短代码</span>
                    <input type="text" class="main-input" ng-model="code">
                    <span>的MO短信</span>
                </div>
                <span class="c-gray-lighter message-rule-font">执行此操作...</span>
                <div>
                    <span>执行</span>
                    <div class="main-btn-select w-200 bg-white">
                        <select class="w-200 bg-white">
                            <option>发出一条API消息</option>
                        </select>
                    </div>
                </div>
                <div>
                    <span>至URL：</span><input type="text" class="main-input w-340" ng-model="url">
                </div>
            </div>
        </div>
        <p class="message-rule-title">命名规则</p>
        <input type="text" class="main-input w-400" ng-model="rule">
    </div>
    <div class="modal-footer card-change-footer">
        <button class="main-btn-less" type="button" ng-click="cancel()">取消</button>
        <button class="main-btn-more" type="button" ng-click="active()">激活</button>
    </div>
</div>