<div class="main-header">您当前的位置：服务中心 > 短信发送设置</div>
<div>
    <div class="main-operate">
        <div class="card-update">
            <a class="main-btn-more" ng-click="infoUpdate()">信息同步</a>
            <span class="card-word">同步jasper平台企业名下所有物联网卡基本信息</span>
            <span class="card-number">服务热线：400-696-6677</span>
        </div>
        <div class="card-search">
            <span>状态：</span>
            <div class="main-btn-select">
                <select ng-model="selectedId">
                    <option value="all">全部</option>
                    <option value="active">已激活</option>
                    <option value="stop">已停用</option>
                </select>
            </div>
            <input type="text" class="main-input w-200" ng-model="ruleName" placeholder="请输入规则名称搜索">
            <a class="main-btn-more w-60" ng-click="search()">搜索</a>
            <span class="pull-right">
                <a class="main-btn-more" ng-click="add()"><span class="glyphicon glyphicon-plus p-r-5"></span>新建</a>
                <a class="main-btn-more m-l-20" ng-click="import()">导出数据</a>
            </span>
        </div>
    </div>
    <div class="main-table">
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th width="30px"><input type="checkbox" id="selectAll" ng-model="selectAll" ng-checked="checkedState" ng-change="changeAll(items)"></th>
                <th width="100px">规则名称</th>
                <th width="100px">类别</th>
                <th width="110px">触发器</th>
                <th width="100px">规则定义</th>
                <th width="300px">动作</th>
                <th width="100px">创建人</th>
                <th width="130px">创建日期</th>
                <th width="80px">状态</th>
                <th width="80px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in messageData" ng-click="changeCurrents(items,$event)">
                <td><input type="checkbox" ng-model="items.checked" ng-click="changeCurrent(items,$event)"></td>
                <td ng-bind="items.description"></td>
                <td ng-bind="items.triggerCategoryDisplayName"></td>
                <td ng-bind="items.eventTypeDisplayName"></td>
                <td ng-bind="items.paramDesc"></td>
                <td ng-bind="items.actionDesc"></td>
                <td ng-bind="items.userLogin"></td>
                <td>{{ items.dateAdded | date:'yyyy.MM.dd hh:mm'}}</td>
                <td ng-show="items.enabled === true">是 | <span class="c-primary" ng-click="changeStatus(items)">停用</span></td>
                <td ng-show="items.enabled === false">否 | <span class="c-primary" ng-click="changeStatus(items)">激活</span></td>
                <td>
                    <a class="main-btn-less w-60" ng-click="change(items)"><span class="glyphicon glyphicon-pencil p-r-5"></span>修改</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="main-btn-delete">
        <input type="checkbox" ng-model="selectAll" ng-checked="checkedState" ng-change="changeAll(items)">
        <a class="main-btn-less m-l-10 w-100" ng-click="stop(items)"><span class="glyphicon glyphicon-trash p-r-5"></span>批量删除</a>
    </div>
    <div  class="pagination page-position">
        <pagination uib-pagination class="pagination-sm pull-right"
                    items-per-page="perPage"
                    ng-model="currentPage"
                    total-items="totalItems"
                    max-size="maxSize"
                    ng-change="pageChanged()"
                    boundary-links="true"
                    boundary-link-numbers="true"
                    rotate="true"
                    force-ellipses="true"
                    previous-text='上一页'
                    next-text="下一页"
                    first-text="首页"
                    last-text="末页">
        </pagination>
    </div>
</div>
