<div ng-controller="cardMessageController">
    <div class="modal-header card-change-header">
        <h4 class="modal-title card-change-title">上行短信</h4>
    </div>
    <div class="modal-body">
        <div class="card-change-desc">当前物联网卡ICCID号：{{iccid}}</div>
        <form role="form" name="myForm" novalidate>
            <div class="padding-10">
                <textarea class="form-control " name="" id="upWord" cols="30" rows="5"
                          placeholder=" 请输入上行短信。" ng-model="groupName" ng-bind="groupItemName"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer card-change-footer">
        <button class="main-btn-less" type="button" ng-click="cancel()">取消</button>
        <button class="main-btn-more" type="button" ng-click="submit()">提交</button>
    </div>
</div>