/*************************public style*************************/
body{
    font-family: "Helvetica", "Tahoma", "Arial", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "STXihei", "STHeiti", "Heiti", "SimSun", "sans-serif";
    font-size: 14px;
    background: #f7f7f7;
    box-sizing: border-box;
    position: relative;
}
main{
    margin-top:40px;
}
aside{
    width: 139px;
    float: left;
    border-right:1px solid #dcdcdc;
    min-height: 700px;
    box-sizing: border-box;
}
.main-content{
    width:1200px;
    margin:0 auto;
    min-height:700px;
    border:1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #fff;
}
.layui-tree-skin-add .layui-tree-branch{
    display: inline-block;
    width: 0;
    color: #fff;
}
.layui-tree-skin-add .layui-tree-leaf{
    display: inline-block;
    width: 23px;
    color: #fff;
}
#main-tree a{
    text-decoration: none;
}
#main-tree a:link{
    color: #000000;
    outline: none;
}
#main-tree a:focus{
    color: #f67a17;
    outline: none!important;
}
#main-tree a:hover{
    color: #f67a17;
    outline: none;
}
#main-tree a:active{
    color: #f67a17;
    outline: none;
}
.main-wrapper{
    float: right;
    width:1058px;
    min-height:700px;
    padding:20px;
    position: relative;
}
.main-header{
    top: -25px;
    position: absolute;
    left: -139px;
    color: #999;
}
.main-btn-more{
    display: inline-block;
    height: 30px;
    line-height:30px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    background-color: #f67a17;
    color: #fff;
    font-family: inherit;
}
.main-btn-more:hover{
    color: #fff;
}
.main-btn-normal{
    display: inline-block;
    height: 30px;
    line-height:30px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #f67a17;
    background-color: #fef4ec;
    color: #f67a17;
    font-family: inherit;
}
.main-btn-normal:hover{
    color: #f67a17;
}
.main-btn-less{
    display: inline-block;
    height: 30px;
    line-height:30px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #797979;
    color: #797979;
    font-family: inherit;
}
.main-btn-less:hover{
    color: #797979;
}
.main-btn-select{
    position: relative;
    width: 80px;
    height: 30px;
    overflow: hidden;
    display: inline-flex;
    border: 1px solid #ccc;
}
.main-btn-select:after{
    content: "";
    position: absolute;
    right: 10px;
    top: 11px;
    border:5px solid transparent;
    border-top: 5px solid #000;
}
.main-btn-select select{
    -webkit-appearance:none;
    -moz-appearance:none;
    background:transparent;
    border:none;
    padding:0 15px 0 10px;
    width: 80px;
    height:100%;
    z-index: 1;
}
.main-operate{
    height:100px;
}
.main-input{
    display: inline-flex;
    width:120px;
    height:30px;
    padding:5px;
    border:1px solid #ccc;
    outline: none;
}
.main-position{
    position: absolute;
    top:-25px;
    color: #999;
}
.tangram-suggestion-main {
    z-index: 1060;
}
.page-position{
    float: right;
    margin:0;
}
.modal-content{
    width:550px;
}
.main-btn-delete{
    margin:20px 0;
    float: left;
}
/*************************loading start*************************/
#loading{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.1);
    display: none;
}
.spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin:auto;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #f67a17;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
.spinner-desc{
    position: absolute;
    bottom: -50px;
    left: 10px;
    color: #f67a17;
    font-size: 15px;
}
/*************************account start*************************/
.asterisk{
    color: #ff0000;
    font-size:16px;
}
.i-reset{
    display:inline-block;
    width:10px;
    height:10px;
    font-size:10px;
}
.a-underline{
    text-decoration:underline;
    color:#167DC2;
}
div.inquiryTogo{
    width: 746px;
    height: 27px;
    background: inherit;
    background-color: rgba(255, 204, 204, 1);
    box-sizing: border-box;
    border: 1px  solid  rgba(242, 242, 242, 1);
    border-radius: 0px;
    font-weight: 400;
    line-height: 26px;
    margin-left:10px;
    padding-left:10px;
}
.inquiryTogo a{
    color:#167DC2;
}
.bindTit{
    color: #A1A1A1;
    margin:10px 10px;
}
.bindForm p{
    margin-left:30px;
    margin:22px 0 0 30px;
}

.bindForm span{
    display:inline-block;
    width:100px;
    text-align:right;
}
.activeCursor:hover{
    cursor: text;
    text-decoration: underline;
    color:#167Dc2;
}
.bindForm p:nth-child(3) span{
    width:auto;
}
.bindForm p input{
    margin-left:10px;
    width:268px;
    height:26px;
    border:1px solid #dcdcdc;
}
.bindForm .subBind{
    width:140px;
    height:40px;
    border:none;
    font-size:16px;
    line-height: 40px;
    margin-left:130px;
    background:rgba(250, 113, 50, 1);
    margin-top:20px;
    margin-left:138px;
}

/*弹出提示窗*/
span.closePop{
    border:1px solid #777;
    color:#999;
    height:12px;
    width:12px;
    line-height: 12px;
    float:right;
    padding-right:4px;
    cursor: pointer;

}
.closePop:hover{
    color:#666;
}
.popWindow{
    position: absolute;
    left: 310px;
    top: 250px;
    width: 600px;
    height: 156px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px  solid rgba(220, 220, 220, 1);
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
.popTop{
    font-family: inherit;
    border-width: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(245, 245, 245, 1);
    box-sizing: border-box;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    text-align: center;
    line-height:40px;
}
.popTop span:nth-child(1){
    width:72px;
    height:24px;
}
.popContext{
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    height:64px;
    width:98%;
    line-height:64px;
    border-bottom:dashed 1px #dcdcdc;
    margin-left:10px;
}
.popBottom{
    font-family: inherit;
    text-align:center;
}
.popBottom span{
    margin:10px 8px;
    overflow: hidden;
}

.mainStyleBox{
    position: relative;
}
.account-success{
    width:500px;
    margin:0 auto;
    padding-top: 100px;
}
.account-success-title{
    display: flex;
}
.account-success-icon{
    font-size: 60px;
    color: #00ccb4;
}
.account-success-desc{
    height:60px;
    line-height: 60px;
    margin-left: 30px;
    font-size: 21px;
}
.account-info{
    margin:20px 0 0 90px;
}
.account-info li{
    line-height: 30px;
    font-size: 16px;
}
.account-info li>span:nth-child(1){
    color: #999;
}
.account-info li>span:nth-child(2){
    color: #f67a17;
}
.account-valid{
    color: red;
}
.account-alert-info{
    background-color: #fff5ec;
    color: #999;
    margin:10px 20px 30px 20px;
    text-align: center;
    height:40px;
    line-height: 40px;
}
.account-alert-link,.account-alert-link:link,.account-alert-link:visited,.account-alert-link:hover,.account-alert-link:active{
    color: #f67a17;
    text-decoration: none;
    margin-right: 10px;
}
#account-remark{
    height:100px;
    width:700px;
}
.account-confirm{
    margin-left:425px;
}
.account-current{
    margin-bottom:10px;
    padding-left: 30px;
    color: #999;
}
.account-img{
    position: absolute;
    z-index: 1;
    right: -42px;
    top: 24px;
}
/*************************cardManage start*************************/
.card-update{
    padding-bottom: 10px;
    border-bottom:1px solid #dcdcdc;
}
.card-word{
    font-size: 12px;
    margin-right: 100px;
}
.card-link{
    cursor: pointer;
    color: #f67a17;
    margin:0 30px;
}
.card-search{
    margin:10px 0;
}
.card-number{
    float: right;
    display: inline-block;
    height:30px;
    line-height: 30px;
}
.main-table{
    overflow-x: auto;
}
.main-table th{
    text-align: center;
}
.main-table>table>tbody>tr>td{
    vertical-align: middle;
    padding:5px;
}
.card-change-header{
    background: #EEF2F3;
    height: 50px;
}
.card-change-title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.card-change-desc{
    text-align: center;
    font-size: 20px;
    color: #f67a17;
}
.card-change-label{
    display: inline-block;
    text-align: right;
    font-size: 20px;
    width:160px;
    height:30px;
    vertical-align: text-top;
}
.card-change-input{
    width:300px;
}
.card-change-select,.card-change-select select{
    width:96px;
}
.card-change-space{
    margin-top:10px;
}
.card-change-btn{
    margin-left:5px;
}
.card-address-input{
    width:300px;
    margin-left:163px;
}
#card-change-map{
    width:480px;
    height:200px;
    margin:0 auto;
}
.card-change-footer{
    text-align: center;
    border-top: 1px dashed #ccc;
}
.card-change-footer button{
    width:135px;
    height:40px;
}
.card-change-footer button:nth-child(1){
    margin-right: 50px;
}
.card-change-tips{
    height:30px;
    background-color: rgba(255, 245, 236, 1.00);
    margin: 10px 20px;
    color: #999;
}
/*************************cardDetail start*************************/
.checkDetail-container{
    height:510px;
    margin-left:10px;
    padding:0 10px;
}
.checkDetail-header,.account-header{
    height:60px;
    border-bottom: 1px solid #dcdcdc;
    margin:-20px -20px 0;
    padding:20px;
}
.checkDetail-back{
    display: inline-block;
    height:30px;
    width:30px;
    border:1px solid #dcdcdc;
    border-radius: 3px;
    color: #999;
    padding:6px 0 0 8px;
    cursor: pointer;
}
.checkDetail-container div>ul:nth-child(1) li{
    text-align: right;
    color: #999;
}
div[class^=checkDetail-info]{
    width:100%;
    margin:auto;
    border-bottom:1px solid #dcdcdc;
    height:auto;
    font-size:14px;
    padding:20px 0;
    line-height: 30px;
    overflow: hidden;
}
div.checkDetail-info4{
    border:none;
}
div[class^=checkDetail-info]>ul:first-child{
    float:left;
    width:150px;
}
div[class^=checkDetail-info]>ul:last-child{
    float:left;
    height:auto;
    width:300px;
    margin-left:80px;
}
div[class^=checkDetail-info]>ul:last-child li{
    font-weight: 600;
}
/*************************cardFind start*************************/
.card-find-wrap{
    width:39%;
    position: absolute;
    z-index:10;
    user-select: none;
}
.card-find-wrap th{
    text-align: center;
}
.card-find-wrap td:nth-child(1),.card-find-wrap td:nth-child(3){
    vertical-align: middle;
}
.card-find-wrap td:nth-child(2){
    text-align: left;
}
#map{
    height:580px;
}
.card-find-icon{
    font-size: 40px;
    cursor: pointer;
}
#card-info-panel{
    display: none;
    width: 120px;
    height: 150px;
    border: 1px solid #dcdcdc;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
}
.card-find-panel li{
    height:30px;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
    color: #000;
}
.card-find-panel a{
    display: block;
}
.card-find-panel a:link,.card-find-panel a:visited,.card-find-panel a:hover,.card-find-panel a:visited{
    color: #000;
    text-decoration: none;
}
.card-find-panel li:hover{
    background-color: #f5f5f5;
}
.card-find-operate{
    float: right;
}
.card-find-page{
    margin: -20px 0;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #dcdcdc;
    width: 412px;
}
/*************************phoneManage start*************************/
.phone-content{
    margin:10px 0;
}
.phoneNumber-main-top{
    width:1036px;
    height:100px;
    border:1px solid #dcdcdc;
    margin-left:10px;
}
.p-m-t-l{height:100%;float:left;padding-left:10px;}
ul:nth-child(1){overflow:hidden;}
.p-m-t-l ul:nth-child(1) li{float:left;margin:10px 0 20px 0;line-height: 30px;}
.p-m-t-l>ul:nth-child(1) li>span{color:rgb(246, 122, 23);}
.p-m-t-l ul:nth-child(1) li:nth-child(1){margin-right:4px;}
.p-m-t-l ul:nth-child(1) li span{margin:0 6px;cursor: pointer;}
.p-m-t-l ul:nth-child(2){overflow: hidden;}
.p-m-t-l ul:nth-child(2) li{float:left;margin-right:10px;}
.p-m-t-l ul:nth-child(2) li:nth-child(4){margin-left: 14px;}
.p-m-t-r {float:right;}
.p-m-t-r a{display: block;margin-right:10px;}
.p-m-t-r a:nth-child(1){margin:10px 0 20px 0}

.phone-download{
    margin-left: 30px;
    color: #f67a17;
}
.phone-import{
    float: right;
}
/*
*   修改弹出窗
*/
.CT-window{
    height:300px;
    width:440px;
    border-radius: 10px;
    background:#fff;
    padding:20px;
    position:fixed;
    top:40%;
    left:40%;
    z-index:20;
}
.phoneManage-cover{
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.3);
    position:fixed;
    z-index:10;
    margin:auto;
    top:0;
    left:0;
}
.mssForm{
    width:100%;
    margin:auto;
}
.mssForm> div{
    margin:auto;
    width:100%
}
.CT-tit input[type="radio"]{
    margin-left:20px;
}
.mssForm p{
    width: 374px;
    text-align: right;
    margin:20px 0;
}
.mssForm p input{
    width:180px;
}
.mssForm　p span{
    display: inline-block;
    width:100%;
    text-align:right;
}

.mobile-change-label{
    font-size:14px;
}
.CT-tit{
    width:100%;
    text-align:center;
    margin:auto;
}
.telForm {
    width:100%;
}
.telForm p{
    width: 374px;
    text-align: right;
    margin:20px 0;
}
.telForm  input{width:180px}
/* 导入弹出框style
*/

.BulkImport-tit{
    color:#FA7132;
    font-size:20px;
}
.bulkImport-input{
    margin-top:20px;
}


/*************************message start*************************/
.message-rule-title{
    border-left:3px solid #f67a17;
    padding-left:10px;
    margin:5px 0;
}
.message-rule-content{
    width:518px;
    margin:0 auto;
    margin-bottom: 20px;
    background-color: #F5F5F5;
}
.message-rule-table{
    display: inline-block;
    width: 49%;
    text-align: center;
    height:40px;
    line-height: 40px;
}
.message-rule-operate{
    margin:0 40px;
}
.message-rule-operate>div{
    padding:10px 0;
}
.message-rule-font{
    font-size:13px;
}
/*************************charge start*************************/

/*************************check start*************************/
.check-update{
    position: absolute;
    display: inline-block;
    top:10px;
    left:10px;
}
.check-update>span{
    color: #f67a17;
}
.check-import{
    position: absolute;
    right:10px;
    top:10px;
}
.check-search{
    position: absolute;
    left:10px;
    bottom:10px;
}
.check-search>a{
    margin-left:20px;
}
.check-table{
    margin:10px;
    overflow-x: auto;
}
.check-table th{
    text-align: center;
}
/*************************detail start*************************/

/*************************template start*************************/
.confirm-body{
    text-align: center;
    height:50px;
    line-height: 50px;
    font-size: 18px;
}
.btn-margin-left{
    margin-left: 30px;
}
